body {
    background-image: linear-gradient(#08B3E5,#0FBED8,#14C9CB, #1BD7BB);
    background-repeat: no-repeat;
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    margin-top: 3vh;
}
.header{
    color: white;
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    font-size: 10vw;
    margin: 10px;
}
.footer {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}

#body2{
    background-image: linear-gradient(#08B3E5,#0FBED8,#14C9CB, #1BD7BB);
    background-repeat: no-repeat;
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    color: white;
    margin-top: 3vh;
}
.headshot {
    border-radius: 1%;
    border: 2vh ridge #D8AC6C;
    width: 30vh;
    margin-left:15%;
    margin-right:15%;
    box-shadow: 5px 5px 15px 5px teal;
}
.icons{
    display: block;
    width: 20vw;
    border-radius: 100%;
    border: 5px dotted white;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.icon-table{
    width: 70%;
    margin-left:15%;
    margin-right:15%;
}
#navs{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right:0;
    background-color: black;
    display: flex;
    justify-content: space-around;
    opacity: 0.88;

}
a{
    font-family: 'Encode Sans', sans-serif;
    padding: 2%;
    display: block;
    color: #AAAAAA;
    font-size: 2.3vh;
    text-decoration: none;

}
#navs a:hover{
    color: white;
}
.text{
    font-size: 2vw;
    margin-left:15%;
    margin-right:15%;
}

@media(min-width:468px){
    .container-1{
        display:flex;
        align-items:center;
        flex-direction: column;
    }

    .container-2{
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.container-2 div{
    padding:10px;
}
.container-1 div{
    padding:10px;
}
.box-1{
    flex:1;
    order:1;
}

.box-2{
    flex:1;
    order:1;

}
.container-2-box{
    flex-basis: 25%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

h3{
    text-align: center;
}
.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10rem;
}
.port{
    margin-top: 7vh;
}
.desc{
    font-size: 2.7vw;
    margin-left:15%;
    margin-right:15%;
    color: black;
    background-color: white;
    padding: 1%;
    font-family: 'Patrick Hand', cursive;
    box-shadow: 2px 2px 5px 3px teal;
    border: .8vh double black;
}
