body {
    background-color: #08B3E5;
}
h1{
    color: white;
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    font-size: 5vw;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}

#body2{
    background-image: linear-gradient(#08B3E5,#0FBED8,#14C9CB, #1BD7BB);
    background-repeat: no-repeat;
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    color: white;
}
.headshot {
    border-radius: 1%;
    border: 3px ridge white;
    width: 30%;
    margin-left:15%;
    margin-right:15%;
    box-shadow: 5px 5px 15px 5px teal;
}
.icons{
    display: block;
    margin: 5px;
    width: 20vw;
    border-radius: 100%;
    border: 5px dotted white;
}
.icon-table{
    width: 70%;
    margin-left:15%;
    margin-right:15%;
}
#navs{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
a{
    font-family: 'Encode Sans', sans-serif;
    padding: 1.5vh;
    font-size: 1vh;
    display: block;
    color: #AAAAAA;
    font-size: 2.3vh;
    text-decoration: none;

}
#navs a:hover{
    color: white;
}
.text{
    font-size: 2vw;
    margin-left:15%;
    margin-right:15%;
}
.main{
    margin-top: 7vh;
}
